

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  position: relative;
}

/* beschreibt das farbschema der website*/
:root {
  --background: #EEE0CB;
  --primary: #839788;
  --secondary: #000000;
  --tertiary: #BAA898;
  --accent: #BFD7EA;
}
/* beschreibt die farbe des hintergrunds und der inhalt des bodys auf jeder seite*/
body {
  background-color: var(--background);
  font-family: Arial, sans-serif;
  color: var(--secondary);
  margin: 0;

}
/*erstellt den header der website*/
header {
  background-color: var(--primary);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*ersetzt die h1 mit dem logo*/
header h1 {
  margin: 0;
  color: #EEE0CB;
}
/*beschreibt die navbar*/
header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/*beschreibt die links in der navbar*/
.nav-link {
  color: var(--secondary);
  text-decoration: none;
}
/*ändernt den hover effekt der links in der navbar*/
.nav-link:hover {
  color: var(--accent);
}
/*beschreibt die hamburger icon*/
hamburger-icon {
  display: inline-block;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
/*beschreibt die hamburger icon span*/
hamburger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--secondary);
  position: absolute;
  left: 0;
}
/*beschreibt die hamburger icon */
hamburger-icon span:nth-child(1) {
  top: 0;
}

hamburger-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

hamburger-icon span:nth-child(3) {
  bottom: 0;
}
/*zeigt an wo der hamburger icon angezeigt wird*/
#hamburger-menu {
  background-color: var(--primary);
  position: absolute;
  top: calc(100% + 0.5rem); 
  right: 0;
  padding: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 100;
  display: none; /* Hide the menu by default */
}

nav.active #hamburger-menu {
  display: block; /* Show the menu when the nav is active */
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative; /* Position the nav element relative to its container */
}

.nav-link {
  display: block; /* Set the links to display as block elements */
  color: var(--secondary);
  text-decoration: none;
  margin-bottom: 0.5rem; /* Add some vertical spacing between the links */
}


#book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.book {
  background-color: var(--tertiary);
  padding: 1rem;
  border-radius: 0.5rem;
}

.book h3 {
  margin-top: 0;
}


.typewriter h2 {
  font-size: 7rem;
  margin: 2rem;
  overflow: hidden; /*versteckt den text bis die animation fertig ist */
  border-right: .15em solid orange; /* schreimaschinen linie */
  white-space: nowrap; /* lässt den inhalt auf einer linie */
  margin: 0 auto; /* gibt einen effect zum tippen */
  letter-spacing: .15em; /*zeilen abstand*/
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* der tipp effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* der strifch effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Add this line to center the container vertically */
  margin-top: 30px;
  height: 100vh;
}


.title5 {
  width: 318px;
  height: 144px;
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 150%;
  color: #ffffff;
  text-align: center; /* Add this line to center the text */
  margin: auto; /* Add this line to center the element horizontally */
  position: relative;
}






#home-title {
  font-size: 7rem;
  margin: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(calc(-90% + 20px));
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

input {
  background-color: var(--tertiary);
  border: none;
  padding: 0.5rem;
  color: var(--background);
}

.btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 
/* Apply button styles to all buttons except those within .search-bar */
button:not(.search-bar button):hover {
  color: black;
}

button:not(.search-bar button):after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

button:not(.search-bar button):hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.book {
  background-color: var(--tertiary);
  padding: 1rem;
  border-radius: 0.5rem;
}

.book h3 {
  margin-top: 0;
}


.typewriter h2 {
  font-size: 7rem;
  margin: 2rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 1px; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Add this line to center the container vertically */
  margin-top: 30px;
  height: 100vh;
}





.search-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px; /* Add some margin to separate the title and search bar */
}
h2.book-title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: right;

  }
  
.search-bar input[type="text"] {
  background-color: #FFFFFF;
  width: 1000px;
  padding: 10px;
  border: none;
  outline: none;
}
 .search-bar button {
  background-color: #fff;
  border: none;
  
  width: 40px;
  height: 34px;
  position: absolute; 
  right: 0px; 
  margin-right: 20%;
  
  }
  
  .search-bar button:before {
  content: "\1F50E";
  font-size: 20px;
  color: #555;
  line-height: 40px;
  text-align: center;
  display: block;
  
  }
  



  .book-page body {
    background-color: #EEE0CB;
    font-family: Arial, sans-serif;
    color: #000;
    margin: 0;
  }
  
  .book-page .book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .book-page .book {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: calc(33.33% - 2rem);
    height: 360px;
    background-color: #fff;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    background-color: transparent;
  }
  
  .book-page .book:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-10px);
  }
  
  .book-page .book-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
    object-fit: cover;
  }
  
  .book-page .book-info {
    position: relative;
    width: 40%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .book-page .book:hover .book-info {
    transform: translateX(5%);
  }
  
  .book-page .book-title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  
  .book-page .book-author {
    font-size: 1rem;
    margin: 0.25rem 0;
  }
  
  .book-page .book-category {
    font-size: 1rem;
    margin: 0.25rem 0;
  }
  
  .book-page .book-language {
    font-size: 1rem;
    margin: 0.25rem 0;
  }
  
  .book-page .book-condition {
    font-size: 1rem;
    margin: 0.25rem 0;
  }
  
  .book-page .btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .book-page .btn:hover {
    background-color: #fff;
    color: #000;
  }
  
  
  nav.nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: var(--primary );
    color: #fff;
    font-size: 2rem;
    z-index: 999;
  }
  
  
  .nav-link {
    display: block;
    color: var(--secondary);
    text-decoration: none;
    margin: 0 1rem; /* Add horizontal margin to the links */
  }

  .box {
    background-color: var(--background);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }
  
  .wrapper {
    max-width: 100%;
    margin: 0 auto;
  }

  .book-image {
    width: 300px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .book-details {
    display: flex;
    min-height: 490vh;
  }

  .book-details2 {
    display: flex;
    min-height: 490vh;
    width: 5px;
  }

  .book-details-text {
    flex: 1;
    padding-right: 20px;
    margin-left: 3%;
  }

  .book-details-text-container {
    width: 40%;
    height: auto;
    margin-right: 5%;
    padding: 20px;
    background-color: var(--background);
    border-radius: 10px;
    font-size: 23px;
    line-height: 1.6;
    margin-left: 3%;
}

.book-details-text-container p {
    margin-bottom: 10px;
    margin-left: 0%;
}
 
.book-details-image {
    width: 29%;
    height: auto;
    margin-left: 30%;
    margin-top: 3%;
    margin-right: 4%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.book-details-image img {
    display: block;
    width: 10%;
    height: auto;
    border-radius: 10px;
}